body {
    background: #333;
    color: #333;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */

}

section {
  clear:both;
  padding-bottom: 30px;
  float: left;
  width: 100%;
}

div {
    float: left;
    width: 50%;
    padding: 20px;
}


article {
    color: #000;
    width: 35%;
    padding: 20px;
    float: left;
  }


h1 {
  padding: 25px;
  float: left;
  margin-top: 0;
  color: #fff;
}

h2 {
  padding: 10px;
  font-size: 50px;
}


footer {
  clear: both;
}

footer p {
  text-align: center;
  padding: 20px;
  width: 40%;
  margin: auto;
  color: #fff;
}


/*nav styles*/

nav {
    float: right;
    padding-right: 30px;
    padding-top: 30px;
}


nav ul{
  list-style: none;

}

nav li {
  float: left;
  margin-left: 20px;
}

header{
  float: left;
  width: 100%;
}






 #cougar {
    background: #FFD5AE; /* pale peach*/
    }

#lion {
    background:  #FFBD82; /*peach*/
      }

#tiger {
    background:  #B26219; /*cinnamon*/
  }




/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2; }
a:link {
    text-decoration: none;}
a:hover { color: #82E8FF; }
